.cube {
    transition: transform 0.3s ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    will-change: transform;
    top: 50%;
    left: 50%;
    position: relative;
    width: $cubeWidth;
    height: $cubeHeight;
    transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
  
    .face {
      width: $cubeWidth;
      height: $cubeHeight;
      position: absolute;
      border: 1px solid $borderColor;
      background: $cubeBg;
  
      &.top {
        transform: rotateX(90deg);
        margin-top: -50%;
      }
  
      &.right {
        transform: rotateY(90deg);
        margin-left: 50%;
      }
  
      &.left {
        transform: rotateY(-90deg);
        margin-left: -50%;
      }
  
      &.bottom {
        transform: rotateX(90deg);
        margin-top: 50%;
      }
  
      &.back {
        transform: translateZ(125px);
      }
  
      &.front {
        transform: translateZ(-125px);
      }
    }
  
    .squares {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      justify-items: stretch;
      align-items: stretch;
  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 0.5em;
      width: 100%;
      height: 100%;
      padding: 0.5em;
      box-sizing: border-box;
    }
  
    &:hover {
      cursor: grab;
    }
  }
  
  .square {
    border-radius: $borderRadius;
  }
  
  .green .square {
    background-color: #009b48;
  }
  
  .red .square {
    background-color: #b90000;
  }
  
  .blue .square {
    background-color: #0045ad;
  }
  
  .orange .square {
    background-color: #ff5900;
  }
  
  .white .square {
    background-color: #ffffff;
  }
  
  .yellow .square {
    background-color: #ffd500;
  }
  