// Colors
$cubeBg: #171a1b;
$bg: #fff59d;
$borderColor: #030607;

$cube-colors: (
  'red': #b90000,
  'green': #009b48,
  'blue': #0045ad,
  'yellow': #ffd500,
  'orange': #ff5900,
  'white': #ffffff
);

// Dimensions
$cubeWidth: 250px;
$cubeHeight: $cubeWidth;
$borderRadius: 4px;

// Typography
$fontFamily: 'Open Sans', sans-serif;
$fontColor: $cubeBg;
